<!-- voter_analytics/templates/voter_analytics/search.html -->
<!-- Cody Headings, codyh@bu.edu 10/30/2025 -->
<!-- html page to display list of voter records -->

<h1>Search Form</h1>
<table class="search">
<form action="{% url 'graphs' %}">

    <tr>
        <th>Party Affiliation:</th>
        <td><select name="party">
            <option value selected disabled hidden>Choose</option>
            <option value="D " {% if get_request.party == 'D ' %}selected{% endif %}>D</option>
            <option value="R " {% if get_request.party == 'R ' %}selected{% endif %}>R</option>
            <option value="U " {% if get_request.party == 'U ' %}selected{% endif %}>U</option>
            <option value="CC" {% if get_request.party == 'CC' %}selected{% endif %}>CC</option>
            <option value="AA" {% if get_request.party == 'AA' %}selected{% endif %}>AA</option>
            <option value="A " {% if get_request.party == 'A ' %}selected{% endif %}>A</option>
            <option value="L " {% if get_request.party == 'L ' %}selected{% endif %}>L</option>
            <option value="J " {% if get_request.party == 'J ' %}selected{% endif %}>J</option>
            <option value="Q " {% if get_request.party == 'Q ' %}selected{% endif %}>Q</option>
            <option value="S " {% if get_request.party == 'S ' %}selected{% endif %}>S</option>
            <option value="FF" {% if get_request.party == 'FF' %}selected{% endif %}>FF</option>  
            <option value="T " {% if get_request.party == 'T ' %}selected{% endif %}>T </option>
            <option value="GG" {% if get_request.party == 'GG' %}selected{% endif %}>GG</option>
            <option value="O " {% if get_request.party == 'O ' %}selected{% endif %}>O </option>
            <option value="P " {% if get_request.party == 'P ' %}selected{% endif %}>P </option>
            <option value="E " {% if get_request.party == 'E ' %}selected{% endif %}>E </option>
            <option value="V " {% if get_request.party == 'V ' %}selected{% endif %}>V </option>
            <option value="H " {% if get_request.party == 'H ' %}selected{% endif %}>H </option>
            <option value="EE" {% if get_request.party == 'EE' %}selected{% endif %}>EE</option>
            <option value="K " {% if get_request.party == 'K ' %}selected{% endif %}>K </option>
            <option value="W " {% if get_request.party == 'W ' %}selected{% endif %}>W</option>
            <option value="X " {% if get_request.party == 'X ' %}selected{% endif %}>X</option>
            <option value="Y " {% if get_request.party == 'Y ' %}selected{% endif %}>Y</option>
            <option value="Z " {% if get_request.party == 'Z ' %}selected{% endif %}>Z</option>
        </select></td>
    </tr>
    <tr>
        <th>Min DOB:</th>
        <td><select name="min_dob">
            <option value selected disabled hidden>Choose</option>
            {% for year in years %}
            <option value="{{ year }}" {% if get_request.min_dob == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select></td>
    </tr>
    <tr>
        <th>Max DOB:</th>
        <td><select name="max_dob">
            <option value selected disabled hidden>Choose</option>
            {% for year in years %}
            <option value="{{ year }}" {% if get_request.max_dob == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
            {% endfor %}

        </select></td>
    </tr>
    <tr>
        <th>Voter Score:</th>
        <td><select name="vscore">
            <option value selected disabled hidden>Choose</option>
            <option value="0" {% if get_request.vscore == '0' %}selected{% endif %}>0</option>
            <option value="1" {% if get_request.vscore == '1' %}selected{% endif %}>1</option>
            <option value="2" {% if get_request.vscore == '2' %}selected{% endif %}>2</option>
            <option value="3" {% if get_request.vscore == '3' %}selected{% endif %}>3</option>
            <option value="4" {% if get_request.vscore == '4' %}selected{% endif %}>4</option>
            <option value="5" {% if get_request.vscore == '5' %}selected{% endif %}>5</option>
        </select></td>
    </tr>
    <tr>
        <th>Voted in:</th>
        <td>
            <input type="checkbox" name="v20state" value="TRUE" {% if get_request.v20state == 'TRUE' %}checked{% endif %}> v20state
            <input type="checkbox" name="v21town" value="TRUE" {% if get_request.v21town == 'TRUE' %}checked{% endif %}> v21town
            <input type="checkbox" name="v21primary" value="TRUE" {% if get_request.v21primary == 'TRUE' %}checked{% endif %}> v21primary
            <input type="checkbox" name="v22general" value="TRUE" {% if get_request.v22general == 'TRUE' %}checked{% endif %}> v22general
            <input type="checkbox" name="v23town" value="TRUE" {% if get_request.v23town == 'TRUE' %}checked{% endif %}> v23town
    </td>
    </tr>
    
    <tr>
        <td><input type="submit"></td>
        <td></td>
    </tr>
    
</form>

</table>

<form class="left" action="{% url 'graphs'%}">
    <input type="submit" value="Cancel">
</form>