body {
    background-color: #fff;
    color: slategray;
    font-family: arial;
    text-align: center;
}
.left {
    text-align: left;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
    padding: 1%;
}

a, a:visited {
    color: slategrey;
    text-decoration: none;
}

a:hover {
    color: darkblue;
    text-decoration: none;
    background-color: white;
    /* font-weight: bold; */
}

body {
    max-width: 75%;
    margin: 20px auto;
    padding: 20px auto;
}

header {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:aliceblue;
    position: fixed;
    top: 0px;
    z-index: 999;
    /* padding-right: 50px auto; */
}

header h1 {
    justify-self: start;
}

table {
    width: 100%;
}

.search {
    width: 50%;
}

th {
    text-align: left;
}

.pagination {
    padding: 0;
  margin: 0;
}

.pagination a {
    color: rgb(115, 115, 235);
}

.pagination a:hover {
    color: darkblue;
    text-decoration: none;
    background-color: white;
    /* font-weight: bold; */
}

.left{
    text-align: left;
    padding-left: 3px;
}

footer {
    width: 960px;
    background:aliceblue;
    position: fixed;
    bottom: 0px;
}

ul {
    list-style-type: none;
}

.wrapper {              /* centering and margin around whole wrapper element */
    border: 2px solid;
    max-width: 100%;
    position: relative;
    top: 50px;
    scroll-padding-top: 100px;
    /* scroll-padding-bottom: 100px; */
    padding-bottom: 50px;
    
    /* top:100px; */
    /* bottom: 100px; */
}


div.wrapper h1 {
    text-align: center;
    color: darkblue;
    margin: 10px auto;
    font-size: 2.4 em; 

}

div.wrapper h2 {
    text-align: left;
    color: darkblue;
    margin: 5px auto;
    font-size: 2 em; 
}


section {
    border: 2px solid darkblue;    /* border around each event */
    position: relative;
    padding-bottom: 4px;
}


nav {
    justify-self: end;
    background: none;
    color: darkblue;
    /* border: 1px solid; */
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav button {
    background: none;
    color: slategray;
    font-family: Arial;
    cursor: pointer; 
    border: 0;
    font-size: 1.2 em;
}

.errorlist {
    padding: 0px;
}


/* responsive styles when width is less than 1400px */
@media screen and (max-width: 560px) {
    header h1 {
        size: 0.8em;
    }

    nav li {
        display: block;
        margin-left: 0px;
        font-size: 14px;
        width: 100%;
    }
    
    nav button {
        background: none;
        color: slategray;
        font-family: Arial;
        cursor: pointer; 
        border: 0;
        font-size: 20px;
    }
    /* on mobile, display image as max 95% of available width*/
    img {
        max-width: 95%;
    }
}