<!-- restaurant/templates/restaurant/base.html -->
<!-- Cody Headings, codyh@bu.edu, 9/15/25 -->
<!-- html template that provides head and body with block content that 
     will be filled by other templates. -->
 
{% load static %}
<html>
    <head>
        <title>Bab On Grill</title>
        <link rel="stylesheet" href="{% static 'restaurant_styles.css' %}">
    </head>
    
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'main' %}">Main Page</a></li>
                <li><a href="{% url 'order' %}">Order Now</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
        <footer>
            Created by Cody Headings for CS412
        </footer>
    </body>