<!-- restaurant/templates/restaurant/main.html -->
<!-- Cody Headings, codyh@bu.edu, 9/15/25 -->
<!-- extension of base.html template that gives general restaurant info -->
 
{% extends 'restaurant/base.html' %}

{% block content %}
<div>
    <h1>Bab On Grill</h1>
    <hr>

    <!-- name, loaction, hours of operation -->
    <p>
        Come on down to Bab On Grill, Boston's best barbeque!
    </p>
    <h3>
        Location:
    </h3>
    <p>
        204 Bay State Road, Boston, MA
    </p>
    <h3>
        Hours of Operation:
    </h3>
    <ul>
        <li>Monday: 11:00am-7:00pm</li>
        <li>Tuesday: 11:00am-7:00pm</li>
        <li>Wednesday: 11:00am-7:00pm</li>
        <li>Thursday: 11:00am-7:00pm</li>
        <li>Friday: Closed</li>
        <li>Saturday: 1:00pm-8:30pm</li>
        <li>Sunday: 1:00pm-8:30pm</li>
    </ul>

    <button>Order Now!</button>

    <!-- one or more photos -->
    <img src="../media/babongrill.jpg" alt="Outside view of the famous barbeque restaurant Bab On Grill." width="80%">
</div>
{% endblock %}