body {
    color: rgb(158, 128, 124);
    font-family: arial;
    background-color: #303030;
}

.left {
    text-align: left;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    background:rgb(250, 99, 99);
    margin: 0;
    padding: 1%;
    color: rgb(12, 22, 31);
}

a, a:visited {
    color: rgb(158, 128, 124);
    border: 2px solid rgb(250, 99, 99);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
}

a:hover {
    color: rgb(12, 22, 31);
    text-decoration: none;
    background-color: rgb(250, 99, 99);
}

#order {
    text-align: center;
    padding-bottom: 10px;
}

li {
    margin: 2px;
}

body {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px auto;
}

form div {
    display: block;
    margin: 2px;
}

form h3 {
    margin-bottom: 5px;
}

textarea {
    margin: 5px;
}

.hidden-c {
  display:none;
  margin-left: 20px;
}

.hidden-b {
  display:none;
  margin-left: 20px;
}

.burger:checked ~ .hidden-b {
  display:block;
}

.chicken:checked ~ .hidden-c {
  display:block;
}

hr {
    border-color: rgb(250, 99, 99);
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:aliceblue;
    position: fixed;
    top: 0px;
    z-index: 999;
    /* padding-right: 50px auto; */
}

footer {
    width: 960px;
    background:rgb(250, 99, 99);
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: rgb(12, 22, 31);
    padding: 4px;
}


.wrapper {              /* centering and margin around whole wrapper element */
    border: 2px solid;
    max-width: 100%;
    position: relative;
    top: 50px;
    scroll-padding-top: 100px;
    /* scroll-padding-bottom: 100px; */
    padding-bottom: 50px;
    
    /* top:100px; */
    /* bottom: 100px; */
}


div.wrapper h1 {
    text-align: center;
    color: darkblue;
    margin: 10px auto;
    font-size: 2.4 em; 

}

div.wrapper h2 {
    text-align: left;
    color: darkblue;
    margin: 5px auto;
    font-size: 2 em; 
}


section {
    border: 2px solid darkblue;    /* border around each event */
    position: relative;
    padding-bottom: 4px;
}

button {
    display: block;
    width: 18%;
    height: 4%;
    margin: 2% auto;
    background-color: rgb(250, 99, 99);
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

img {
    display: block;
    margin: auto;
}

nav {
    justify-self: end;
    background: none;
    color: darkblue;
    /* border: 1px solid; */
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav button {
    background: none;
    color: slategray;
    font-family: Arial;
    cursor: pointer; 
    border: 0;
    font-size: 1.2 em;
}

.mc-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}


.mc-table-head {
    border: 1px dashed darkblue;    /*border around each row */
    display: table-row;
    font-size: 1.2em;
}

.mc-table-head .detail {
    display: table-cell;
    color:darkblue;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    position: relative;
   
}

.mc-table-row  {
    display: table-row;
    border: 1px dashed darkblue;    /*border around each row */
    background-color: white;
}


.mc-table-row .detail {
    color:darkblue;
    display: table-cell;
   
    padding: 5px;
}

.mc-table-row .detail img {
    max-height: 75px;
    align-content: right;
}

/* must have no space before :hover */
.mc-table-row:hover {
    background-color: aliceblue;    
    border: 1px solid;
}

.site-form {
    margin-top: 10px;
    /* border: 2px solid darkblue; */
    padding: 10px;
}

/* style the forms with class site-form */
.site-form input, .site-form textarea, .site-form select {
    display: block;
    margin: 5px 0 0 0;
    padding: 5px;
}

/* style the submit button ; didn't quite work?? */
.site-form input [type="submit"] {
    background: slategray;
    border: 0;
    color: fff;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 5px 0;
}


/* style the help text in the forms */
.helptext, .helptext.ul {
    margin-top: 0 auto;
    bottom: 20px;
    color: #bbb;
    font-size: 0.9em;
}

/* style the error list in the forms validation */
.errorlist li {
    padding: 10px;
    list-style-type: none;
    border: 1px solid crimson;
    color: crimson;
    margin: 10px 0;
}


.errorlist {
    padding: 0px;
}


/* responsive styles when width is less than 1400px */
@media screen and (max-width: 560px) {
    header h1 {
        size: 0.8em;
    }

    nav li {
        display: block;
        margin-left: 0px;
        font-size: 14px;
        width: 100%;
    }
    
    nav button {
        background: none;
        color: slategray;
        font-family: Arial;
        cursor: pointer; 
        border: 0;
        font-size: 20px;
    }
    /* on mobile, display image as max 95% of available width*/
    img {
        max-width: 95%;
    }
}