<!-- quotes/templates/quotes/about.html -->
 
{% extends 'quotes/base.html' %}

{% block content %}
<div>
    <h1>About</h1>
    <hr>
    <p class="left">
        Socrates was an Athenian philosopher who lived from 470-399 BCE. He was a highly influential figure in ancient Greece, both mocked and celebrated in the works of that time.
    </p>
    <p class="left">
        Though we have nothing authored by him, Socrates has become immortalized through the words of both his critics (Arisophanes), and his admirers (Plato and Xenophon), his wise words living on through antiquity in famous compositions and arguments.
    </p>
    <p class="left">
        Source: <a href="https://www.britannica.com/biography/Socrates">Britannica</a>
    </p>
</div>
{% endblock %}