<!-- quotes/templates/quotes/show_all.html -->
 
{% extends 'quotes/base.html' %}

{% block content %}
<div>
    <h1>All Socrates Quotes</h1>
    <hr>
    <!-- For loop iterates over list of quotes and displays them on page -->
    {% for quote in quotes%}
    <p>
        {{quote}}
    </p>
    {% endfor %}
    <!-- For loop iterates over image urls and assigns them to src field -->
    {% for image in images%}
    <img src="{{image}}" alt="Image of Socrates" width="500px">
    <br><br>
    {% endfor %}
</div>
{% endblock %}