<!-- mini_insta/templates/mini_insta/base.html -->
<!-- Cody Headings, codyh@bu.edu -->
<!-- base html template with head/nav to be extended -->

{% load static %}
<html>
    <head>
        <title>Mini Insta</title>
        <link rel="stylesheet" href="{% static 'styles-mini_insta.css' %}">
    </head>
    <body>
        <header>
            <h1>Mini Insta</h1>
            <nav>
                <ul>
                    <li><a class="button" href="{% url 'show_all_profiles' %}">
                        All Profiles
                    </a></li>
                    {% if request.user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}" >
                        {% csrf_token %}
                        <li><input type="submit" value="Logout" class="button"></li>
                    </form>
                    {% else %}
                    <li><a class="button" href="{% url 'login' %}">
                        Login
                    </a></li>
                    <li><a class="button" href="{% url 'create_profile' %}">
                        Create Profile
                    </a></li>
                    {% endif %}
                </ul>
            </nav>
            <div>
                {% if request.user.is_authenticated %}
                <p>Currently logged in as: {{request.user}}</p>
                {% else %}
                <p>Currently not logged in.</p>
                {% endif %}
            </div>
        </header>
        
        {% block content %}
        {% endblock %}
        
        <footer>
            <div  class="footer-wrapper">
                {% if request.user.is_authenticated %}
                {% if profile %}
                <p><a class="button" href="{% url 'show_feed' %}">
                    Home
                </a></p>
                <p><a class="button" href="{% url 'search' %}">
                    Search
                </a></p>
                {% if profile.user == request.user %}
                <p><a class="button" href="{% url 'create_post' %}">
                    Create a Post
                </a></p>
                {% endif %}
                <!-- change this to use user's profile -->
                <p><a class="button" href="{% url 'show_profile' profile.pk%}">
                    Profile
                </a></p>
                {% endif %}
                {% endif %}
            </div>
        </footer>
    </body>
</html>