<!-- mini_insta/templates/mini_insta/create_post_form.html -->
<!-- Cody Headings, codyh@bu.edu, 9/30/25 -->
<!-- html page dedicated to creating new posts for a user -->
 {% extends 'mini_insta/base.html' %}
{% block content %}

<div class="grid-container">
    <div>
        <h1>Create a new Post</h1>
        <!-- display the HTML form -->
        <form action="{% url 'create_post' profile.pk %}" method="POST">
            {% csrf_token %}
            <table>
                {{form.as_table}}
                <tr>
                    <label>
                        Image URL: <input type="text" name="image_url">
                    </label>
                </tr>
            </table>

            <input type="submit" name="submit" value="Submit">
            <br><br>
            <a href="{% url 'show_profile' profile.pk %}" class="cancel">
                Cancel
            </a>
        </form>
    </div>
</div>

{% endblock %}