<!-- mini_insta/templates/mini_insta/delete_profile_form.html -->
<!-- Cody Headings, codyh@bu.edu 10/10/2025 -->
<!-- html page form for deleting a post object -->
{% extends 'mini_insta/base.html' %}
 
{% block content %}
<h3 class="center">Are you sure you want to delete this post?</h3>
 
<main class="container">
<table>
    <div>
        {% if post.has_photos %}

        {% for photo in post.get_all_photos %}
        <tr>
            <img src="{{photo.get_image_url}}" alt="{{photo.get_image_url}}" 
            class="postpic">
        </tr>
        {% endfor %}
        
        {% else %}
        <tr>
            <img src="https://cs-webapps.bu.edu/codyh/media/NoImage.png" 
            alt="No Image" class="postpic-noimage">
        </tr>
        {% endif %}
    </div>

    <tr>
        <p>{{post.caption}}</p>
        <hr>
        <p>Posted by {{post.profile}} on {{post.timestamp}}</p>
    </tr>
</table>
</main>

<!-- Form to delete post -->
<form class="center" method='POST'>
    {% csrf_token %}
    <input class="button" type='submit' value="Delete">
</form>

<!-- form to cancel delete request -->
<form class="center" action="{% url 'show_post' post.pk %}" 
method='GET'>
    {% csrf_token %}
    <input class="button" type='submit' value="Cancel">
</form>

{% endblock %}