<!-- mini_insta/templates/mini_insta/follow.html -->
<!-- Cody Headings, codyh@bu.edu 10/23/25 -->
<!-- html page for following another profile -->

{% extends 'mini_insta/base.html' %}

{% block content %}
{% if own_profile %}
<p class="center">You cannot follow your own profile.</p>
{% else %}
<p class="center">You have successfully followed {{followed_profile}}.</p>
{% endif %}
<div class="center">
    <a class="button" href="{% url 'show_profile' followed_profile.pk %}">Return to their Profile</a>
</div>
{% endblock %}