<!-- mini_insta/templates/mini_insta/show_profile.html -->
<!-- Cody Headings, codyh@bu.edu -->
<!-- html page for singular view of profile object -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="grid-container">
    <profile>
        {% if profile.profile_image_url %}
        <img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
        {% endif %}

        <div>
            <h1>{{profile.display_name}}</h1>
            <h2>@{{profile.username}}</h2>

            <div class="grid-container-2">
                <div>
                    <h3>Followers:</h3>
                    <p>1</p>
                </div>
                <div>
                    <h3>Following:</h3>
                    <p>3</p>
                </div>
            </div>
            <hr>

            <h3>Bio:</h3>
            <p>{{profile.bio_text}}</p>
            <p>Joined {{profile.join_date}}</p>
        </div>
    </profile>

    <div>
        <h2>Posts</h2>
        
        {% if profile.has_posts %}
            {% for post in profile.get_all_posts %}
            <div>
                {% if post.has_photos %}
                <a href="{% url 'show_post' post.pk %}">
                    <img src="{{post.get_all_photos.0.image_url}}" 
                    alt="{{post.get_all_photos.0.image_url}}" class="post-thumbnail">
                </a>
                {% else %}
                <a href="{% url 'show_post' post.pk %}">
                    <img src="../media/NoImage.png" alt="No Image" 
                    class="post-thumbnail">
                </a>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <p>Nothing yet, stay tuned.</p>
        {% endif %}
    </div>
</main>
{% endblock %}