<!-- mini_insta/templates/mini_insta/show_post.html -->
<!-- Cody Headings, codyh@bu.edu 9/30/25 -->
<!-- html page for singular view of post object -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="container">
<table>
    <div>
        {% if post.has_photos %}

        {% for photo in post.get_all_photos %}
        <tr>
            <img src="{{photo.get_image_url}}" alt="{{photo.get_image_url}}" 
            class="postpic">
        </tr>
        {% endfor %}
        
        {% else %}
        <tr>
            <img src="https://cs-webapps.bu.edu/codyh/media/NoImage.png" 
            alt="No Image" class="postpic-noimage">
        </tr>
        {% endif %}
    </div>

    <tr>
        <p class="likes">{{post.display_likes}}</p>
    </tr>
    <tr>
        <p>{{post.caption}}</p>
        <hr>
        <p>Posted by {{post.profile}} on {{post.timestamp}}</p>
    </tr>
</table>
<!-- link to delete this post -->
<a class="button" href="{% url 'delete_post' post.pk %}">Delete Post</a>
<!-- link to update this post -->
<a class="button" href="{% url 'update_post' post.pk %}">Update Post</a>
<br><br>
<a class="button" href="{{ post.profile.get_absolute_url}}">
            View this user's posts
        </a>
</main>

<main class="container">
<div>
    <div>
        <h2>Comments</h2>
    </div>
    <!-- <h3><a href="{% url 'create_comment' post.pk %}">Create a comment</a></h3> -->
    {% for comment in post.get_all_comments %}
        <div>
            <strong><a href="{% url 'show_profile' comment.profile.pk %}">{{comment.profile}}</a> | {{comment.timestamp}}</strong>
            <p>
                {{comment.text}}
                <br>
                <!-- link to delete this comment -->
                <!-- <a href="{% url 'delete_comment' comment.pk %}">Delete</a> -->
            </p>
        </div>
    {% endfor %}
</div>
</main>

{% endblock %}