<!-- mini_insta/templates/mini_insta/show_profile.html -->
<!-- Cody Headings, codyh@bu.edu -->
<!-- html page for singular view of profile object -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="grid-container">
    <profile>
        {% if profile.profile_image_url %}
        <img src="{{profile.profile_image_url}}" 
        alt="{{profile.profile_image_url}}">
        {% endif %}

        <div>
            <h1>{{profile.display_name}}</h1>
            <h2>@{{profile.username}}</h2>

            <div class="grid-container-2">
                <div>
                    <h3>Posts:</h3>
                    <p>{{profile.get_post_count}}</p>
                </div>
                <div>
                    <a href="{% url 'show_followers' profile.pk %}">
                        <h3>Followers:</h3>
                    </a>
                    <p>{{profile.get_num_followers}}</p>
                </div>
                <div>
                    <a href="{% url 'show_following' profile.pk %}">
                        <h3>Following:</h3>
                    </a>
                    <p>{{profile.get_num_following}}</p>
                </div>
            </div>
            <hr>

            <h3>Bio:</h3>
            <p>{{profile.bio_text}}</p>
            <p>Joined {{profile.join_date}}</p>
        </div>
        {% if profile.user == request.user %}
        <div>
            <a class="button" href="{% url 'update_profile' %}">
                Update Profile</a>
        </div>
        {% endif %}
    </profile>

    <div class="profile-posts">
        <h2>Posts</h2>
        
        <div class="grid-container">
            {% if profile.has_posts %}
                {% for post in profile.get_all_posts %}
                    <a href="{% url 'show_post' post.pk %}">
                    {% if post.has_photos %}
                        <img src="{{post.get_all_photos.0.get_image_url}}" alt=""
                        class="post-thumbnail">
                    {% else %}
                        <img src="https://cs-webapps.bu.edu/codyh/media/NoImage.png" 
                        alt="No Image" class="post-thumbnail">
                    {% endif %}
                    </a>
                {% endfor %}
            {% else %}
                <p>Nothing yet, stay tuned.</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}