<!-- promptmix/templates/promptmix/base.html -->
<!-- Cody Headings, codyh@bu.edu, 11/25/2025 -->
<!-- base html template with head/nav to be extended -->

{% load static %}
<html>
    <head>
        <title>Promptmix</title>
        <link rel="stylesheet" href="{% static 'styles-promptmix.css' %}">
    </head>
    <body>
        <header>
            <h1>Promptmix</h1>
            <nav>
                <ul>
                    <!-- Add some nav options here -->
                    <li><a href="{% url 'show_feed' %}" class="button">Feed</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'show_followed' %}" class="button">Followed Prompts</a></li>
                    {% if profile %}
                    {% if profile.user == request.user %}
                    <li><a class="button" href="{% url 'create_prompt' %}">
                        Create a Prompt
                    </a></li>
                    {% endif %}
                    <li><a class="button" href="{% url 'show_profile' profile.pk%}">
                        Profile
                    </a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </nav>
            <div>
                {% if request.user.is_authenticated %}
                <p>Currently logged in as: {{request.user}}</p>
                <form method="post" action="{% url 'logout' %}" >
                    {% csrf_token %}
                    <li><input type="submit" value="Logout" class="minibutton"></li>
                </form>
                {% else %}
                <p>Currently not logged in.</p>
                <a class="minibutton" href="{% url 'login' %}">
                    Login
                </a>
                <a class="minibutton" href="{% url 'create_profile' %}">
                    Create Profile
                </a>
                <br><br>
                {% endif %}
            </div>
        </header>
        
        <div id="top"></div>
        {% block content %}
        {% endblock %}
        
        <footer>
            <a href="#top" class="button" style="float: right;">^</a>
        </footer>
    </body>
</html>