<!-- promptmix/templates/promptmix/create_remix_form.html -->
<!-- Cody Headings, codyh@bu.edu, 11/30/25 -->
<!-- html page dedicated to creating new remixes for a user -->
 
{% extends 'promptmix/base.html' %}
{% block content %}

<div class="container">
    <h1>New Remix</h1>

    <div class="form">
        {% if parent %}
            <p>Remixing: <strong>{{ parent.profile }}</strong>:</p>
            <blockquote>{{ parent.text }}</blockquote>
        {% else %}
            <p>Remixing: <strong>{{ prompt.subject }}</strong></p>
            <blockquote>{{ prompt.text }}</blockquote>
        {% endif %}

        <!-- display the HTML form -->
        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div>
                {{ form.text.label_tag }}
                {{ form.text }}
                {{ form.text.errors }}
            </div>
            <br>
            <button type="submit" class="button">Remix</button>
        </form>
    </div>

    <form action="{% url 'show_prompt' prompt.pk %}" method="GET">
        <input class="button" type='submit' value= 'Cancel'>
    </form>
</div>

{% endblock %}