<!-- promptmix/templates/promptmix/remix_tree.html -->
<!-- Cody Headings, codyh@bu.edu 11/27/25 -->
<!-- Recursive page for displaying many remixes in a chain -->

<div class="feed-post">
    <strong>
        Re: {{subject}}
    </strong>
    <p class="info">
        <a href="{% url 'show_profile' remix.profile.pk %}">
            {{ remix.profile }}
        </a> 
        | {{ remix.timestamp }} | {{ remix.word_count }} words
    </p>

    <p>{{ remix.text|linebreaksbr }}</p>
    <hr>
    <p class="info">{{ remix.get_all_boosts|length }} Boosts | {{ remix.children.all|length }} {% if remix.children.all|length == 1%}Remix{%else%}Remixes{%endif%}</p>

    {% if remix in boosted_remixes %}
        <a href="{% url 'delete_remix_boost' remix.pk %}" class="minibutton">UnBoost</a>
    {% else %}
        <a href="{% url 'create_remix_boost' remix.pk %}" class="minibutton">Boost</a>
    {% endif %}
    
    {% if prompt_page %}
        <a href="{% url 'create_remix_remix' remix.pk %}" class="minibutton">Remix this!</a>
    {% endif %}

    {% if remix.children.all %}
        <div class="children">
            {% for child in remix.children.all|slice:":1" %}
                {% include "promptmix/remix_tree.html" with remix=child subject="Re: "|add:subject%}
            {% endfor %}

            {% if remix.children.all|length > 1 %}
                <div class="show-more" onclick="this.nextElementSibling.style.display='block'; this.style.display='none';">
                    Show {{ remix.children.all|length|add:"-1" }} more {% if remix.children.all|length|add:"-1" == 1%}Remix{%else%}Remixes{%endif%}...
                </div>

                <div style="display:none;">
                    {% for child in remix.children.all|slice:"1:" %}
                        {% include "promptmix/remix_tree.html" with remix=child subject="Re: "|add:subject%}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>