<!-- promptmix/templates/promptmix/remix_tree.html -->
<!-- Cody Headings, codyh@bu.edu 11/27/25 -->
<!-- Recursive page for displaying many remixes in a chain -->

<div class="feed-post">
    <div class="remix">
    <div class="remix-header">
        <strong>
            Re: {{ subject }}
        </strong>

        <button class="collapse-button" onclick="toggleRemix(this)">
            Collapse
        </button>
    </div>
    <p class="info">
        <a href="{% url 'show_profile' remix.profile.pk %}">
            {{ remix.profile }}
        </a> 
        | {{ remix.timestamp }} | {{ remix.word_count }} words
    </p>

    <p>{{ remix.text|linebreaksbr }}</p>
    <hr>
    <p class="info">{{ remix.get_all_boosts|length }} {% if remix.get_all_boosts|length == 1%}Boost{% else %}Boosts{%endif%} | {{ remix.children.all|length }} {% if remix.children.all|length == 1%}Remix{%else%}Remixes{%endif%}</p>

    {% if remix in boosted_remixes %}
        <a href="{% url 'delete_remix_boost' remix.pk %}" class="minibutton">UnBoost</a>
    {% else %}
        <a href="{% url 'create_remix_boost' remix.pk %}" class="minibutton">Boost</a>
    {% endif %}
    
    {% if prompt_page %}
        <a href="{% url 'create_remix_remix' remix.pk %}" class="minibutton">Remix this!</a>
        {% if remix.profile == profile %}
        <a class="minibutton" href="{% url 'update_remix' remix.pk %}">Edit</a>
        {% endif %}
    {% endif %}

    {% if remix.children.all %}
        <div class="children">
            {% for child in remix.children.all|slice:":1" %}
                {% include "promptmix/remix_tree.html" with remix=child subject="Re: "|add:subject%}
            {% endfor %}

            {% if remix.children.all|length > 1 %}
                <div class="show-more" onclick="this.nextElementSibling.style.display='block'; this.style.display='none';">
                    Show {{ remix.children.all|length|add:"-1" }} more {% if remix.children.all|length|add:"-1" == 1%}Remix{%else%}Remixes{%endif%}...
                </div>

                <div style="display:none;">
                    {% for child in remix.children.all|slice:"1:" %}
                        {% include "promptmix/remix_tree.html" with remix=child subject="Re: "|add:subject%}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
</div>

<!-- JS function to collapse a thread -->
<script>
function toggleRemix(button) {
    const remixDiv = button.closest(".remix");
    const children = remixDiv.querySelector(":scope > .children");

    if (!children) return;

    if (children.style.display === "none") {
        children.style.display = "";
        button.textContent = "Collapse";
    } else {
        children.style.display = "none";
        button.textContent = "Expand";
    }
}
</script>