<!-- promptmix/templates/promptmix/search.html -->
<!-- Cody Headings, codyh@bu.edu 12/01/25 -->
<!-- html form page for filtering/sorting feed -->

<table class="search">
<form action="{% url 'show_feed' %}">
    <tr>
        <th>Search Keywords:</th>
        <td>
            <input type="text" name="keywords" {% if get_request.keywords%}value="{{get_request.keywords}}"{% endif %}>
        </td>
    </tr>
    <tr>
        <th>Sort By:</th>
        <td><select name="sort">
            <option value="popular" {% if get_request.sort == "popular" %}selected{% endif %}>Most Popular</option>
            <option value="unpopular" {% if get_request.sort == "unpopular" %}selected{% endif %}>Least Popular</option>
            <option value="newest" {% if get_request.sort == "newest" %}selected{% endif %}>Newest</option>
            <option value="oldest" {% if get_request.sort == "oldest" %}selected{% endif %}>Oldest</option>
        </select></td>
    </tr>
    <tr>
        <td><p></p></td>
    </tr>
    <tr>
        <td><input type="submit" class="minibutton"></td>
    </tr>
</form>
</table>

<table>
    <form action="{% url 'show_feed'%}">
        <tr>
            <td>
                <input type="submit" value="Reset" class="minibutton">
            </td>
        </tr>
    </form>
</table>

<br>