<!-- promptmix/templates/promptmix/show_prompt.html -->
<!-- Cody Headings, codyh@bu.edu 11/25/25 -->
<!-- html page for singular view of Prompt object -->
{% extends 'promptmix/base.html' %}

{% block content %}
<main class="prompt-container">
    <div class="prompt">
        <table>
            <tr>
                <h3>{{prompt.subject}}</h3>
                <hr>
                <p>{{prompt.text}}</p>
                <p class="info">Posted by <a href="{% url 'show_profile' prompt.profile.pk %}">{{prompt.profile}}</a> on {{prompt.timestamp}}</p>
                <!-- add count of remixes and boosts -->
                <p class="info">{{ prompt.get_all_boosts|length }} Boosts | {{ prompt.get_all_remixes|length }} Remixes</p>
            </tr>
        </table>
        {% if prompt in prompt_boosts %}
            <a href="{% url 'delete_prompt_boost' prompt.pk %}" class="minibutton">UnBoost</a>
        {% else %}
            <a href="{% url 'create_prompt_boost' prompt.pk %}" class="minibutton">Boost</a>
        {% endif %}
        <a href="{% url 'create_prompt_remix' prompt.pk %}" class="minibutton">Remix this!</a>
    </div>
</main>

<main class="container">
<div>
    {% for remix in prompt.get_all_remixes|slice:":2" %}
        {% include "promptmix/remix_tree.html" with remix=remix subject=remix.prompt.subject%}
    {% endfor %}

    {% if prompt.get_all_remixes|length > 2 %}
        <div class="show-more" onclick="this.nextElementSibling.style.display='block'; this.style.display='none';">
            Show {{ prompt.get_all_remixes|length|add:"-2" }} more {% if remix.children.all|length|add:"-2" == 1%}Remix{%else%}Remixes{%endif%}...
        </div>

        <div style="display:none;">
            {% for remix in prompt.get_all_remixes|slice:"2:" %}
                {% include "promptmix/remix_tree.html" with remix=remix subject=remix.prompt.subject%}
            {% endfor %}
        </div>
    {% endif %}
</div>
</main>

{% endblock %}