<!-- promptmix/templates/promptmix/show_profile.html -->
<!-- Cody Headings, codyh@bu.edu 11/27/25 -->
<!-- html page for singular view of profile object -->

{% extends 'promptmix/base.html' %}

{% block content %}
<main class="container">
    <profile>
        {% if profile.profile_image_url %}
        <img src="{{profile.profile_image_url}}" 
        alt="{{profile.profile_image_url}}">
        {% endif %}

        <div>
            <h1>{{profile.display_name}}</h1>
            <hr>
            <p>Joined {{profile.join_date}}</p>
        </div>

        <div class="grid-container-2" style="margin-left: auto;">
            <div>
                <h3>Prompts:</h3>
                <p>{{profile.get_prompt_count}}</p>
            </div>
            <div>
                <h3>Remixes:</h3>
                <p>{{profile.get_remix_count}}</p>
            </div>
        </div>
        
    </profile>
</main>
<main class="feed-container">
    <h2 class="center">{{profile.display_name}}'s Prompts</h2>

    {% include "promptmix/profile_search.html" %}

    {% if profile.has_prompts %}
        {% if prompts %}
            {% for prompt in prompts %}
                <div class="feed-post">
                    <div class="feed-header">
                        <a href="{% url 'show_profile' prompt.profile.pk %}">
                            {% if prompt.profile.profile_image_url %}
                                <img src="{{ prompt.profile.profile_image_url }}" 
                                alt="{{ prompt.profile.username }}" 
                                class="feed-profile-pic">
                            {% else %}
                                <img src="https://cs-webapps.bu.edu/codyh/media/NoImage.png" 
                                alt="No Profile Image" 
                                class="feed-profile-pic">
                            {% endif %}
                        </a>
                        <div class="feed-user-info">
                            <a href="{% url 'show_profile' prompt.profile.pk %}" class="username">
                                {{prompt.profile}}
                            </a>
                            <span class="timestamp">{{prompt.timestamp}}</span>
                        </div>
                    </div>

                    <div class="feed-caption">
                        <a class="prompt-link" href="{% url 'show_prompt' prompt.pk%}"><strong class="subject">{{prompt.subject}}</strong></a>
                        <p>{{prompt.text}}</p>
                        <hr>
                        <!-- add count of remixes and boosts -->
                        <div style="display: flex; justify-content: space-between;">
                            <p class="info">0 Boosts</p>
                            <a class="prompt-link" href="{% url 'show_prompt' prompt.pk%}"><p class="info">{{ prompt.get_all_remixes|length }} Remixes</p></a>
                        </div>
                    </div>
                    <div>
                    {% for remix in prompt.get_all_remixes|slice:":2" %}
                        {% include "promptmix/remix_tree.html" with remix=remix subject=remix.prompt.subject%}
                    {% endfor %}

                    {% if prompt.get_all_remixes|length > 2 %}
                        <div class="show-more" onclick="this.nextElementSibling.style.display='block'; this.style.display='none';">
                            Show {{ prompt.get_all_remixes|length|add:"-2" }} more {% if prompt.get_all_remixes|length|add:"-2" == 1%}Remix{%else%}Remixes{%endif%}...
                        </div>

                        <div style="display:none;">
                            {% for remix in prompt.get_all_remixes|slice:"2:" %}
                                {% include "promptmix/remix_tree.html" with remix=remix subject=remix.prompt.subject%}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No posts found. Try searching for something less specific.</p>
        {% endif %}
    {% else %}
        <p>This user hasn't posted anything yet. Tell them to start creating!</p>
    {% endif %}
</main>
{% endblock %}