<!-- promptmix/templates/promptmix/show_prompt.html -->
<!-- Cody Headings, codyh@bu.edu 11/25/25 -->
<!-- html page for singular view of Prompt object -->
{% extends 'promptmix/base.html' %}

{% block content %}
<main class="container">
<table>
    <tr>
        <h3>{{prompt.subject}}</h3>
        <hr>
        <p>{{prompt.text}}</p>
        <p class="info">Posted by <a href="{% url 'show_profile' prompt.profile.pk %}">{{prompt.profile}}</a> on {{prompt.timestamp}}</p>
    </tr>
</table>
</main>

<main class="container">
<div>
    <!-- <h3><a href="{ url 'create_remix' prompt.pk }">Remix this</a></h3> -->
    {% for remix in prompt.get_all_remixes|slice:":2" %}
        {% include "promptmix/remix_tree.html" with remix=remix subject=remix.prompt.subject%}
    {% endfor %}

    {% if prompt.get_all_remixes|length > 2 %}
        <div class="show-more" onclick="this.nextElementSibling.style.display='block'; this.style.display='none';">
            Show {{ prompt.get_all_remixes|length|add:"-2" }} more remixes...
        </div>

        <div style="display:none;">
            {% for remix in prompt.get_all_remixes|slice:"2:" %}
                {% include "promptmix/remix_tree.html" with remix=remix subject=remix.prompt.subject%}
            {% endfor %}
        </div>
    {% endif %}
</div>
</main>

{% endblock %}